<mat-card class="content-card">
  <mat-card-header>
    <h2>{{selectedProject.name}}</h2>
    
  </mat-card-header>
  <div>
      <p *ngIf="hasSprint">Current Sprint: {{currentSprintName}}</p>
      <p>Project Code: {{selectedProject.projectCode}}</p>
  </div>
  <div>
      <button mat-raised-button *ngIf="hasSprint" class="create-task-button" style="margin-bottom: 10px;" (click)="openCreateTaskDialog()">Create Task</button>
      <button mat-raised-button *ngIf="!hasSprint" class="create-task-button" style="margin-bottom: 10px;" (click)="openCreateSprintDialog()">Create Sprint</button>
  </div>
  

  <!-- <mat-card-actions>
      <button mat-raised-button> <mat-icon>add</mat-icon> Create Task</button>
  </mat-card-actions> -->
  <!-- <mat-divider></mat-divider> -->

  <mat-card-content>

    <!-- description expansion -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Show description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>
          {{selectedProject.projDescription}}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel [expanded]=1>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>To Do</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="150px" >
          <mat-grid-tile class="task-card-todo hoverable" *ngFor="let task of todoTasks" (click) = "openUpdateTaskDialog(task)">
            <mat-grid-tile-header class="taskheader" style="background-color: rgba(14, 1, 1, 0.269);">
              <!-- <mat-icon mat-grid-avatar>info_outline</mat-icon> -->
              <!-- <mat-icon>info_outline</mat-icon> -->
              {{task.name}}
            </mat-grid-tile-header>
            {{task.taskDescription}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel [expanded]=1>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>In Progress</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="150px">
          <mat-grid-tile class="task-card-progress hoverable" *ngFor="let task of inProgressTasks" (click) = "openUpdateTaskDialog(task)">
            <mat-grid-tile-header class="taskheader" style="background-color: rgb(56, 141, 220);">
                {{task.name}}
            </mat-grid-tile-header>
            {{task.taskDescription}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>


    <mat-accordion>
      <mat-expansion-panel [expanded]=1 >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>To Review</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="150px">
          <mat-grid-tile class="task-card-review hoverable" *ngFor="let task of toReviewTasks" (click) = "openUpdateTaskDialog(task)">
            <mat-grid-tile-header class="taskheader" style="background-color: rgb(220, 200, 24);">
                {{task.name}}
            </mat-grid-tile-header>
            {{task.taskDescription}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel [expanded]=1 >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Done</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="150px">
          <mat-grid-tile class="task-card-done hoverable" *ngFor="let task of doneTasks" (click) = "openUpdateTaskDialog(task)">
            <mat-grid-tile-header class="taskheader" style="background-color: rgb(13, 155, 13);">
                {{task.name}}
            </mat-grid-tile-header>
            {{task.taskDescription}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
</mat-card>