.content-card {
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: rgb(237, 239, 247);
}

.task-section {
    margin-top: 10px;
}

.create-task-button {
    max-height: 40px;
    align-self: flex-end;
    text-align: center;
    flex: right;
}

.task-card-todo {
    background-color: rgba(0, 0, 0, 0.040);;
    /* border: 1px;
    border-color: rgba(6, 0, 0, 0.040);
    border-style: solid; */
    border-radius: 10px;
}

.task-card-progress {
    background-color: rgba(0, 0, 0, 0.040);
    /* border: 1px; */
    /* border-color: rgb(56, 141, 220); */
    /* border-style: solid; */
    border-radius: 10px;
}

.task-card-review {
    background-color: rgba(0, 0, 0, 0.040);
    /* border: 1px;
    border-color: rgb(220, 200, 24);
    border-style: solid; */
    border-radius: 10px;
}

.task-card-done {
    background-color: rgba(0, 0, 0, 0.040);
    /* border: 1px;
    border-color: rgb(13, 155, 13);
    border-style: solid; */
    border-radius: 10px;
}

.taskheader {
    background-color: rgba(12, 20, 28, 0.057);
    background: rgba(21, 4, 4, 0.091);
}

.hoverable {
    cursor: pointer;
    min-height: 60px;
  }
  
  .hoverable:hover {
    background: rgba(231, 236, 236, 0.495);
  }
  
  .hoverable:focus {
    background: rgba(231, 236, 236, 0.495);
  }