.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  color: rgb(0, 9, 26);
}

.content-card {
  /* max-width: 80%; */
  max-width: 1000px;
  min-width: 200px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  align-self: center;
  border-radius: 10px;
  align-content: center;
}

.text-field {
  margin-top: 30px;
  width: 100%;
}

.login-button {
  width: 100%;
  align-self: center;
  margin-top: 40px;
  text-align: center;
}