<mat-card class="content-card" *ngIf="!isSharingView">
  <h2 mat-dialog-title>Add New Project</h2>

  <mat-dialog-content class="content">

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Enter Project Name" [(ngModel)]="name" required>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Enter Project Code" [(ngModel)]="projectCode" required>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="Project Description" [(ngModel)]="projectDesciption" required></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions *ngIf="!isUpdating">
    <button mat-raised-button color="primary" (click)="done()">Done</button>
  </mat-dialog-actions>
  <mat-dialog-actions *ngIf="isUpdating">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
  </mat-dialog-actions>
</mat-card>


<mat-card *ngIf="isSharingView">
  <h2 mat-dialog-title>Add Users</h2>
  <mat-dialog-content>
    <mat-form-field style="width: 100%;">
      <mat-select [(value)]="assignedUser" placeholder="Select user">
        <mat-option *ngFor="let user of allUsers" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addUser()">Add</button>
  </mat-dialog-actions>
</mat-card>