.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  color: rgb(0, 9, 26);
}

.content-card {
  max-width: 1000px;
  min-width: 200px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  align-self: center;
  border-radius: 10px;
}

.text-field {
  margin-top: 30px;
  width: 100%;
}

.reg-button {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}