<mat-card class="content-card">
    <div class="title">Register</div>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter Your Organization's Name" id="txtName" [(ngModel)]="name" name="name">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter Your Organization's Email" id="txtEmail" [(ngModel)]="email" name="email">
        </mat-form-field>
    </span>
    <span>
        <mat-form-field class="text-field">
            <input matInput placeholder="Enter a Password for Your Account" id="txtPassword" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
    </span>

    <button mat-raised-button color="primary" class="reg-button" (click)="onRegisterSubmit()"> Register Me </button>
</mat-card>