<mat-card class="content-card">
  <h2 mat-dialog-title>Create Sprint</h2>

  <mat-dialog-content class="content">

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Enter Sprint Name" [(ngModel)]="sprintName" required>
    </mat-form-field>

    <mat-form-field style="width: 100%;" color="primary">
      <input matInput [min]="minimumDate" [matDatepicker]="sprintStartingDate" placeholder="Choose Start Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="sprintStartingDate"></mat-datepicker-toggle>
      <mat-datepicker #sprintStartingDate disabled="false" (selectedChanged)="setStartTime($event)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%;" color="accent">
      <input matInput [min]="minimumDate" [matDatepicker]="sprintEndDate" placeholder="Choose End Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="sprintEndDate"></mat-datepicker-toggle>
      <mat-datepicker #sprintEndDate disabled="false" (selectedChanged)="setEndTime($event)"></mat-datepicker>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="done()">Create</button>
  </mat-dialog-actions>
</mat-card>